<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="registration_number.js" charset="utf-8"></script> -->
    <link rel="stylesheet" href="style.css">
    <title>Registration</title>
</head>

<body>
        <div class="reg"> REGISTRATION </div>
      

    <form action="/reg_numbers" method="post">
    <div>

                    {{#if messages}}
    <h4 class="messaged"> {{messages.error}}</h4>

    {{/if}}

        <div class="text">
            <input maxlength="50" type="textOne" name="regPlates" class="regNoEntered" placeholder="enter a registration number">
            <button class="regButton" type="submit" {{capturedReg}}>Add Registration</button>
        </div>

      
</form>

<form action="/filtering" method="post">

  <div class="please">
            <label for="town">Please select a town</label>
        </div>


        <div class="Selection">
            <select name="places" class="town" id="city">
                
                <option  value="select">Select a town</option>
                <option name="place" value="SHOW ALL"> Show All</option>
                <option name="places" value="CAPE TOWN">Cape Town</option>
                <option name="places" value="PAARL">Paarl</option>
                <option name="places" value="GEORGE">George</option>
                <option name="places" value="Wellington">Wellington</option>
               
            </select>
            <input type="submit" value="Submit" class="added" />
        </div>
   
  </form>

        <div class="regNumbers">

            <div class="regNumber">
                CY 124-245
            </div>
            {{#each message}}
        <li class="message">
            {{this.reg_numbers}}
        </li>
        

       {{/each}}

            {{!-- {{#each messages}}
        <li class="message">
            {{this.reg_numbers}}
        </li>

       {{/each}} --}}
        </div>

<form action="/resets">
        <div class="resetMe">
        <button class="reset" type="">Reset</button>
  </div>
     
    </form>

    </div>

 
</body>

<script src="./setTimer.js"></script>

</html>