body{
    background-image: url(main_background.jpg);
   margin-top: 150px;
   
    
}
.reg{
    color: orange;
    text-align: center;
    font-size: 40px;
}
.text{
    color:orange;
    padding-left: 530px;
    margin-top: 50px; 
}
.please{
    color: orange;
    padding-left: 530px ;
    margin-top:30px ;
    font-size: 20px;
}

.Selection{
    color: orange;
    padding-left: 530px ;
    margin-top: 20px;
   
}
.output{
    color: orange;
    padding-left: 530px;
    margin-top: 50px;
}
.regNumbers{
    color: orange;
    padding-left: 530px;
    margin-top: 30px;
}
.messaged{
    color: rgb(255, 94, 0);
    padding-left: 530px;
    margin-top: 10px;
}
.message{
    color: orange;
    padding-left: 10px;
    display: inline;
    margin-top: 10px;
    display: inline-block;
    padding-left: 20px;
    width:100px;
    border: 1px solid orange;

}
.regNumber{
    padding-left: 20px;
    width:100px;
    border: 1px solid orange;
    


}

.resetMe{
    padding-left: 530px;
    margin-top: 20px;
}



 @media screen and (max-width: 800px) {

    .text{
        padding-left: 50px;
    }
    .please{
        padding-left: 50px; 
    }
    .Selection{
        padding-left: 50px;
    }
    .addRegNUmber{
        margin-bottom: 30px;
    }
}

